<section data-ng-controller="loginController">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Tracking & Allocation System</h1>
        </div>
         <div class="modal-body">
             <div class="form-group">
                 <input type="text" class="form-control input-lg" data-ng-model="user" placeholder="Username"/>
             </div>

             <div class="form-group">
                 <input type="password" class="form-control input-lg" data-ng-model="passwd" placeholder="Password"/>
             </div>
             
             <div class="form-group">
                 <input type="submit" class="btn btn-block btn-lg btn-primary" data-ng-click="login()" value="Login"/>
             </div>
         </div>
    </div>
 </div>
 </section>